@import url("./bootstrap.css");
@import url("./fuentes.css");

body{
  overflow-x: hidden;
}

* {
  font-family: comforta;
}

button {
  border-radius: 5px;
}

.backgroundNiños {
  background: url("../img/niños.jpg") no-repeat;
  background-size: cover;
}

.roundedBorder {
  border-radius: 10px;
}

.blackShadow {
  text-shadow: black 2px 2px;
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: white;
  border-radius: 14px;
  border: 0px solid blue;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}

input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}

input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

input[type=range] {
  background-color: transparent;
}

#divModal{
  position: absolute;
  top: 0;
  left: 500px;
  z-index: 1000;
}

.right-5000 {
  /*animation-name: animation;
  animation-duration: 2s;*/
  transform: translate(5000px, 0);
  transition-property: all;
  transition-duration: 3s;
} 

@keyframes animation {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
} 

@keyframes animation2 {
  from{
    visibility: hidden;
    opacity: 0;
  }
  to{
    visibility: visible;
    opacity: 1;
  }
}

.bg-cookies{
  background-image: url('../img/cookies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.modalText{
  color: black;
  background-color: white;
  text-align: center;
}

.bg-gradient{
  background: linear-gradient(45deg, #17a2b8, white);
}
.bg-gradient2{
  border-bottom: #000000 solid 5px;
  background: linear-gradient(45deg, white, #17a2b8);
}
.bg-gradient3{
  border-top: #000000 solid 5px;
  background: linear-gradient(45deg, white, #17a2b8);
}
.transformOpacity{
  animation-name: animation2;
  animation-duration: 5s;
}
.imgLogo{
  width: 100px;
}
.quitarSub{
  text-decoration: none;
}
li[class='scaleHover']:hover{
  transform: scale(1.2, 1.2);
}